<div class="form-group">
    <label for="number" class="negrito">Number:</label>
    <input type="text" name="number" [(ngModel)]="number" class="form-control" id="number">
    <br>
</div>

<div class="">
    <p class="negrito">sem formatacao: </p>
    <p>{{number | number }}</p>
    <br>
    <p class="negrito">Resultado com formatacao </p>
    <p>{{number | number:'2.0-1'}}</p>
    <br>
    <p class="negrito">Resultado em porcetagem </p>
    <p>{{number | percent}}</p>
    <br>
    <p class="negrito">Resultado em moeda</p>
    <p>{{number | currency : 'BRL'}}</p>
    <br>
    <br>
    <p class="negrito">{{text | lowercase}}</p>
    <br>
    <br>
    <p class="negrito">Data de Hoje</p>
    <p>{{date | date:'dd-MM-YYYY' }}</p>
    <br>
    <p class="negrito">Data Formatada C/ en-US</p>
    <p>{{date | date:'dd-MM-YYYY':"GMT-03:00":"en-US" }}</p>
    <br>
    <p class="negrito">Data de Hoje com  short pt</p>
    <p>{{date | date:'short':'pt' }}</p>
    <br>
    <p class="negrito">Data de Hoje com dois pipes date | uppercase</p>
    <p>{{date | date:'full' | uppercase}}</p>
    <br>
    <p class="negrito">Hora date shortTime</p>
    <p>{{date | date:'shortTime'}}</p> 

    <p class="negrito"> PIPE JSON : {{pessoa | json}}</p>
    <p class="negrito"> SLICE POSITIVE: {{pessoa.nome | slice:0:3  }}</p>
    <p class="negrito"> SLICE NEGATIVE: {{pessoa.nome | slice:-5 }}</p>
</div>
