<div class="form-group">
    <label for="number" class="negrito">Number:</label>
    <input type="text" name="number" [(ngModel)]="number" class="form-control" id="number">
    <br>
</div>
<button class="btn btn-success" (click)="mudaValorNumber()">Muda valor numero!!!</button>
<div class="">
    <p class="negrito">sem formatacao: </p>
    <p>{{number | number }}</p>
    <br>
    <p class="negrito">Resultado com formatacao </p>
    <p>{{number | number:'2.0-1'}}</p>
    <br>
    <p class="negrito">Resultado em porcetagem </p>
    <p>{{number | percent}}</p>
    <br>
    <p class="negrito">Resultado em moeda</p>
    <p>{{number | currency : 'BRL'}}</p>
    <br>
    <p class="negrito">Data de Hoje</p>
    <p>{{date | date:'dd-MM-YYYY' }}</p>
    <br>
    <p class="negrito">Data Formatada C/ en-US</p>
    <p>{{date | date:'dd-MM-YYYY':"GMT-03:00":"en-US" }}</p>
    <br>
    <p class="negrito">Data de Hoje com  short pt</p>
    <p>{{date | date:'short':'pt' }}</p>
    <br>
    <p class="negrito">Data de Hoje com dois pipes date | uppercase</p>
    <p>{{date | date:'full' | uppercase}}</p>
    <br>
    <p class="negrito">Hora date shortTime</p>
    <p>{{date | date:'shortTime'}}</p> 

    <p class="negrito"> PIPE JSON : {{pessoa | json}}</p>
    <p class="negrito"> SLICE POSITIVE: {{pessoa.nome | slice:0:3  }}</p>
    <p class="negrito"> SLICE NEGATIVE: {{pessoa.nome | slice:-5 }}</p>
</div>
<h1 class="negrito" for="number" class="negrito">Diferentes tipos de pipes:</h1>
<p class="negrito">{{text | lowercase}}</p>
<button class="btn btn-success" (click)="mudaValorString()">Muda valor texto!!</button>

<h1 class="display-1">Criando seu próprio pipe</h1>
<div class="container">
    <div class="col">
        <div class="row-6">
            <div class="form-group">
                <label for="text" >Print Pipe Test : </label>
                <input type="text" name="text" id="text" #txt>
                <button class="btn btn-primary" (click)="add(txt.value)">add</button>
            </div>
        </div>
        <div class="row-6">
            <h3>Lista formatada</h3>
            <p>Tamanaho da lina {{nomes.length}}</p>
            <p>{{nomes | printList}}</p>
        </div>
    </div>
</div>